* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: inherit;
}

input {
  outline: none;
  font-size: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}