.c-section.npc {
  --section-npc--npc-container--grid-temp-cols: repeat(2, 1fr);
}

@media (max-width: 1599px) and (min-width: 770px) {
  .c-section.npc {
    --section-npc--npc-container--grid-temp-cols: repeat(2, 1fr);
  }
}
@media (max-width: 769px) {
  .c-section.npc {
    --section-npc--npc-container--grid-temp-cols: repeat(1, 1fr);
  }
}

.c-section.npc .c-content {
  padding: 50px 0px 100px;
}

.c-section.npc .npc-container {
  display: grid;
  grid-template-columns: var(--section-npc--npc-container--grid-temp-cols);
  gap: 20px;
  margin-top: 20px;
}

.c-section.npc .npc-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  background-color: #1C1920;
  border-radius: 30px;
  padding: 14px 20px 14px 40px;
}

.c-section.npc .npc-card .title-block {
  display: grid;
  grid-template-areas: "image title"
                       "image coords";
  column-gap: 10px;
  align-items: center;
  width: 100%;
  grid-template-columns: max-content 1fr;
}

.c-section.npc .npc-card .title-block .image {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  grid-area: image;
  background-color: #28252c;
}

.c-section.npc .npc-card .title-block .image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.c-section.npc .npc-card .title-block .title {
  grid-area: title;
  font-size: 24px;
}

.c-section.npc .npc-card .title-block .coords {
  grid-area: coords;
  color: #656269;
  font-size: 16px;
}



.c-section.npc {
  font-weight: var(--font-fw--npc--npc-card-text);
  font-size: var(--font-fs--npc--npc-card-text);
  line-height: var(--font-lh--npc--npc-card-text);
}


